<!DOCTYPE html>
<html lang="en">

{% load static %}
  <head>
    <title>Python</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">

    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">

    <link rel="stylesheet" href="{% static 'css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <link rel="icon" href="{% static 'img/icon.png' %}">
    
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  
  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
   
    
    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
      
      <div class="container-fluid">
        <div class="d-flex align-items-center">
          <div class="site-logo mr-auto w-25"><a href="#">Python</a></div>

          <div class="mx-auto text-center">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mx-auto d-none d-lg-block  m-0 p-0">
                <li><a href="#home-section" class="nav-link">Басты бет</a></li>
                <li><a href="#programs-section" class="nav-link">Курс</a></li>
                <li><a href="#courses-section" class="nav-link">Мазмұны</a></li>
              </ul>
            </nav>
          </div>

          <div class="ml-auto w-25">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu site-menu-dark js-clone-nav mr-auto d-none d-lg-block m-0 p-0">
                <li class="cta"><a href="{% url 'universystem:register' %}" class="register"><span>Тіркелу</span></a></li>
              </ul>
            </nav>
            <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right"><span class="icon-menu h3"></span></a>
          </div>
        </div>
      </div>
      
    </header>


    <div class="intro-section" id="home-section">
      
      <div class="slide-1" style="background-image: url('static/img/hero_1_1.jpg')" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12">
              <div class="row align-items-center">
                <div class="col-lg-6 mb-4">
                  <h1  data-aos="fade-up" data-aos-delay="100">Python</h1>
                  <p class="mb-4" id="p" data-aos="fade-up" data-aos-delay="200"> жылдам жұмыс істеуге және жүйелерді тиімдірек біріктіруге мүмкіндік беретін бағдарламалау тілі.</p>

                </div>

                <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="500">

                  <form action="" method="POST" class="form-box">
									{% csrf_token %}
                  <h3 class="h4 text-black mb-4"><strong>Кіру</strong></h3>
                    <div class="form-group">
                      <label><strong>Қатысушы есіміңіз</strong></label>
                       <input type="text" name="username" placeholder="Username..." class="form-control">
                                                
                    </div>
                    <div class="form-group mt-3">
                      <label><strong>Құпия сөз</strong></label>
                      <input type="password" name="password" placeholder="Password..." class="form-control" >
                                                
                    </div>
                    
                   
                    {% if request.GET.next %}
                        <input type="hidden" name="next" value="{{ request.GET.next }}">
                    {% endif %}
                    <input type="submit"   class="w-100 btn btn-primary btn-block" style="background-color: #7971ea; border: none;" value="Кіру">
                    <div class="form-group mt-3"> <a href="{% url 'universystem:register' %}" class="register"><span>Тіркелу</span></a>
                    </div>{% if messages %}
                  {% for message in messages %}   
                  <div class="alert alert-info">
                      {{message}}
                  </div>
                  {% endfor %}
                  {% endif %}
                  </form>
                  

                </div>
                
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>

    

    <div class="site-section" id="programs-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-lg-7 text-center"  data-aos="fade-up" data-aos-delay="">
            <h2 class="section-title">КУРС ТУРАЛЫ</h2>
            <p>
              Курс материалдары мемлекеттік және еуропалық стандарттарға негізделіп жасалған.
              </p>
          </div>
        </div>
        <div class="row mb-5 align-items-center">
          <div class="col-lg-7 mb-5" data-aos="fade-up" data-aos-delay="100">
            <img src="static/img/undraw_youtube_tutorial.svg" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-4 ml-auto" data-aos="fade-up" data-aos-delay="200">
            <h2 class="text-black mb-4">Интерактивті Python курсының артықшылықтары</h2>
            <p class="mb-4">Тіл қолданылуының көптеген аспектілері қарастырылған</p>

            <div class="d-flex align-items-center custom-icon-wrap mb-3">
              <span class="custom-icon-inner mr-3"><span class="icon icon-graduation-cap"></span></span>
              <div><h3 class="m-0">Материалдың қолжетімді түсініктемелері</h3></div>
            </div>

            <div class="d-flex align-items-center custom-icon-wrap">
              <span class="custom-icon-inner mr-3"><span class="icon icon-university"></span></span>
              <div><h3 class="m-0">Қызықты мысалдар</h3></div>
            </div>

          </div>
        </div>

        <div class="row mb-5 align-items-center">
          <div class="col-lg-7 mb-5" data-aos="fade-up" data-aos-delay="100">
            <img src="static/img/undraw_teacher.svg" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-4 ml-auto" data-aos="fade-up" data-aos-delay="200">
            <h2 class="text-black mb-4">Python тілі кеңінен қолданылады:</h2>
            <p class="mb-4">математикалық/ғылыми есептеулерде</p>
            <div class="d-flex align-items-center custom-icon-wrap mb-3">
              <span class="custom-icon-inner mr-3"><span class="icon icon-graduation-cap"></span></span>
              <div><h3 class="m-0">деректерді талдауда</h3></div>
            </div>
            <div class="d-flex align-items-center custom-icon-wrap mb-3">
              <span class="custom-icon-inner mr-3"><span class="icon icon-graduation-cap"></span></span>
              <div><h3 class="m-0">машиналық оқытуда</h3></div>
            </div>
            <div class="d-flex align-items-center custom-icon-wrap mb-3">
              <span class="custom-icon-inner mr-3"><span class="icon icon-graduation-cap"></span></span>
              <div><h3 class="m-0">веб-әзірлеуде</h3></div>
            </div>

            <div class="d-flex align-items-center custom-icon-wrap">
              <span class="custom-icon-inner mr-3"><span class="icon icon-university"></span></span>
              <div><h3 class="m-0">ойын әзірлеуде</h3></div>
            </div>

          
          </div>
        </div>

        <div class="row mb-5 align-items-center">
          <div class="col-lg-7 mb-5 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
            <img src="static/img/undraw_teaching.svg" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-4 mr-auto order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
            <h2 class="text-black mb-4">Неліктен Python тілін таңдаған дұрыс?</h2>
            <p class="mb-4">Python-да қысқа және түсінікті синтаксис, код жазу ережесі бар </p>

            <div class="d-flex align-items-center custom-icon-wrap mb-3">
              <span class="custom-icon-inner mr-3"><span class="icon icon-graduation-cap"></span></span>
              <div><h3 class="m-0">Үйрену өте оңай</h3></div>
            </div>

            <div class="d-flex align-items-center custom-icon-wrap">
              <span class="custom-icon-inner mr-3"><span class="icon icon-university"></span></span>
              <div><h3  class="m-0">IT сфераға тез енуге мүмкіндік береді</h3></div>
            </div>

          </div>
        </div>

        

      </div>
    </div>

  


    <div class="site-section courses-title" id="courses-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="">
            <h2 class="section-title">Курс</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="site-section courses-entry-wrap"  data-aos="fade-up" data-aos-delay="100">
      <div class="container" style="margin-top:-6rem;">
        <div class="row">

          <div class="owl-carousel col-12 nonloop-block-14">

            <div class="course bg-white h-100 align-self-stretch">
              <figure class="m-0">
                <a href="{% url 'universystem:login' %}"><img src="static/img/img_1_1.jpg" alt="Image" class="img-fluid"></a>
              </figure>
              <div class="course-inner-text py-4 px-4">
               
                <h3><a href="{% url 'universystem:login' %}">Python тіліне кіріспе</a></h3>
                <p>Питон деген не? Python не істей алады? Неліктен питон? </p>
              </div>
              
            </div>

            <div class="course bg-white h-100 align-self-stretch">
              <figure class="m-0">
                <a href="{% url 'universystem:login' %}"><img src="static/img/img_2_2.jpg" alt="Image" class="img-fluid"></a>
              </figure>
              <div class="course-inner-text py-4 px-4">
                
                <h3><a href="{% url 'universystem:login' %}">Python негіздері</a></h3>
                <p>Python Синтаксисі. Python-мен жұмыстың бастамасы.</p>
              </div>
              <div class="d-flex border-top stats">
                
              </div>
            </div>

            <div class="course bg-white h-100 align-self-stretch">
              <figure class="m-0">
                <a href="{% url 'universystem:login' %}"><img src="static/img/img_3_3.jpg" alt="Image" class="img-fluid"></a>
              </figure>
              <div class="course-inner-text py-4 px-4">
                
                <h3><a href="{% url 'universystem:login' %}">Python операторлары</a></h3>
                <p>Aрифметикалық, тағайындау, салыстыру, логикалық операторлары</p>
              </div>
              <div class="d-flex border-top stats">
               
              </div>
            </div>



            <div class="course bg-white h-100 align-self-stretch">
              <figure class="m-0">
                <a href="{% url 'universystem:login' %}"><img src="static/img/img_4_4.jpg" alt="Image" class="img-fluid"></a>
              </figure>
              <div class="course-inner-text py-4 px-4">
                
                
                <h3><a href="{% url 'universystem:login' %}">Жолдар</a></h3>
                <p>Көпжолды жолдар. Жолдарды форматтау. Format әдісі </p>
              </div>
              <div class="d-flex border-top stats">
               
              </div>
            </div>

            <div class="course bg-white h-100 align-self-stretch">
              <figure class="m-0">
                <a href="{% url 'universystem:login' %}"><img src="static/img/img_5_5.jpg" alt="Image" class="img-fluid"></a>
              </figure>
              <div class="course-inner-text py-4 px-4">
               
                <h3><a href="{% url 'universystem:login' %}">Тізімдер</a></h3>
                <p>Өзгеретін тізбектер - тізімдер
                  Тізімдерге қолданылатын амалдар
                  Массивтер</p>
              </div>
              <div class="d-flex border-top stats">
               
              </div>
            </div>

            <div class="course bg-white h-100 align-self-stretch">
              <figure class="m-0">
                <a href="{% url 'universystem:login' %}"><img src="static/img/img_6_6.jpeg" alt="Image" class="img-fluid"></a>
              </figure>
              <div class="course-inner-text py-4 px-4">
               
                <h3><a href="{% url 'universystem:login' %}">Кортеж</a></h3>
                <p>Кортежді жеке айнымалыларға жіліктеу. Кортеждерге қолданылатын амалдар</p>
              </div>
              <div class="d-flex border-top stats">
                
              </div>
            </div>

            <div class="course bg-white h-100 align-self-stretch">
              <figure class="m-0">
                <a href="{% url 'universystem:login' %}"><img src="static/img/img_7_7.jpg" alt="Image" class="img-fluid"></a>
              </figure>
              <div class="course-inner-text py-4 px-4">
               
                <h3><a href="{% url 'universystem:login' %}">Функция. Рекурсия</a></h3>
                <p>Функция, сипатталуы. Параметрлерінің берілу механизмі. lambda-функциялар</p>
              </div>
              <div class="d-flex border-top stats">
               
              </div>
            </div>

            <div class="course bg-white h-100 align-self-stretch">
              <figure class="m-0">
                <a href="{% url 'universystem:login' %}"><img src="static/img/img_8_8.jpg" alt="Image" class="img-fluid"></a>
              </figure>
              <div class="course-inner-text py-4 px-4">
                
                <h3><a href="{% url 'universystem:login' %}">Жиындар</a></h3>
                <p>Жиындарға қолданылатын амалдар. Frozenset функциясы</p>
              </div>
              <div class="d-flex border-top stats">
               
              </div>
            </div>

            <div class="course bg-white h-100 align-self-stretch">
              <figure class="m-0">
                <a href="{% url 'universystem:login' %}"><img src="static/img/img_9_9.jpg" alt="Image" class="img-fluid"></a>
              </figure>
              <div class="course-inner-text py-4 px-4">
               
                <h3><a href="{% url 'universystem:login' %}">Сөздіктер түсінігі және құру принциптері</a></h3>
                <p>Сөздіктер тізімі. МҚ-да сөздіктер сөздігін құру</p>
              </div>
              <div class="d-flex border-top stats">
              
              </div>
            </div>

            <div class="course bg-white h-100 align-self-stretch">
              <figure class="m-0">
                <a href="{% url 'universystem:login' %}"><img src="static/img/img_10_10.jpg" alt="Image" class="img-fluid"></a>
              </figure>
              <div class="course-inner-text py-4 px-4">
              
                <h3><a href="{% url 'universystem:login' %}">Файлдармен мәлімет алмасу мүмкіндіктері</a></h3>
                <p>Файлдармен мәлімет алмасу тәсілдері. Файлдармен байланыс орнату, сипатталуы мен қолданылу амалдары</p>
              </div>
             
            </div>

            <div class="course bg-white h-100 align-self-stretch">
              <figure class="m-0">
                <a href="{% url 'universystem:login' %}"><img src="static/img/img_11_11.jpg" alt="Image" class="img-fluid"></a>
              </figure>
              <div class="course-inner-text py-4 px-4">
               
                <h3><a href="{% url 'universystem:login' %}">Модульдер</a></h3>
                <p>Модуль түсінігі. Қолданушы модулінің құрылымы мен жүзеге асырылуы</p>
              </div>
              
            </div>

            <div class="course bg-white h-100 align-self-stretch">
              <figure class="m-0">
                <a href="{% url 'universystem:login' %}"><img src="static/img/img_12_12.png" alt="Image" class="img-fluid"></a>
              </figure>
              <div class="course-inner-text py-4 px-4">
               
                <h3><a href="{% url 'universystem:login' %}">Ерекше оқиғалар. Объектілі-бағытталған программалауға кіріспе</a></h3>
                <p>Қателерді талдау, ерекше оқиғаларды өңдеу. Ерекше оқиғалар түрлері мен өңдеу құралдары. ОБП негіздері мен мүмкіндіктері</p>
              </div>
              
            </div>

            <div class="course bg-white h-100 align-self-stretch">
              <figure class="m-0">
                <a href="{% url 'universystem:login' %}"><img src="static/img/img_13_13.jpg" alt="Image" class="img-fluid"></a>
              </figure>
              <div class="course-inner-text py-4 px-4">
                
                <h3><a href="{% url 'universystem:login' %}">GUI қосымша құру кезеңдері</a></h3>
                <p>GUI - қолданушының графиктік интерфейсі программалау. Tkinter кітапханасын қосу</p>
              </div>
             
            </div>

            
          </div> 

         

        </div>
        <div class="row justify-content-center">
          <div class="col-7 text-center" id="buttons">
            <button class="customPrevBtn btn btn-primary m-1">Артқа</button>
            <button class="customNextBtn btn btn-primary m-1">Келесі</button>
          </div>
        </div>
      </div>
    </div>


    <div class="site-section pb-0">

      <div class="future-blobs">
        <div class="blob_2">
          <img src="static/img/blob_2.svg" alt="Image">
        </div>
        <div class="blob_1">
          <img src="static/img/blob_1.svg" alt="Image">
        </div>
      </div>
      <div class="container">
        <div class="row mb-5 justify-content-center" data-aos="fade-up" data-aos-delay="">
          <div class="col-lg-7 text-center">
            <h2 class="section-title">Неліктен біздің Python курсын таңдаған дұрыс?</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto align-self-start"  data-aos="fade-up" data-aos-delay="100">

            <div class="p-4 rounded bg-white why-choose-us-box">

              <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                <div class="mr-3"><span class="custom-icon-inner"><span class="icon icon-graduation-cap"></span></span></div>
                <div><h3 class="m-0">Жаңадан бастаушыларға жақсы</h3></div>
              </div>

              <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                <div class="mr-3"><span class="custom-icon-inner"><span class="icon icon-university"></span></span></div>
                <div><h3 class="m-0">Қарапайым минималистік синтаксис</h3></div>
              </div>

              <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                <div class="mr-3"><span class="custom-icon-inner"><span class="icon icon-graduation-cap"></span></span></div>
                <div><h3 class="m-0">Үлкен стандартты кітапхана және қосымша кітапханалар.</h3></div>
              </div>

              <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                <div class="mr-3"><span class="custom-icon-inner"><span class="icon icon-university"></span></span></div>
                <div><h3 class="m-0">Фреймворктардың үлкен таңдауы.</h3></div>
              </div>

              <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                <div class="mr-3"><span class="custom-icon-inner"><span class="icon icon-graduation-cap"></span></span></div>
                <div><h3 class="m-0">Кросс-платформа</h3></div>
              </div>

              <div class="d-flex align-items-center custom-icon-wrap custom-icon-light">
                <div class="mr-3"><span class="custom-icon-inner"><span class="icon icon-university"></span></span></div>
                <div><h3 class="m-0">Объектіге бағытталған бағдарламалауды және басқа парадигмаларды қабылдайды</h3></div>
              </div>

            </div>


          </div>
          <div class="col-lg-7 align-self-end"  data-aos="fade-left" data-aos-delay="200" >
            <img src="static/img/student_1_2.png" style="margin-left: 100px;" alt="Image" class="img-fluid">
          </div>
        </div>
      </div>
    </div>

    



    <div class="site-section bg-light" id="contact-section">
      <div class="container">

        <div class="row justify-content-center">
          <div class="col-md-7">


            
            <h2 class="section-title mb-3">Пікір қалдыру</h2>
          
            <form method="post" >
              {% csrf_token %}
              <div class="form-group row">
                <div class="col-md-12">
                  <input type="text" class="form-control" name="name" placeholder="Аты">
                </div>
                
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Тақырып">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <input type="email" class="form-control" name="email" placeholder="Электронды пошта">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <textarea class="form-control" id="" cols="20" rows="5" name="message" placeholder="Пікір"></textarea>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-4">
                  
                  <input type="submit" class="btn btn-primary py-3 px-5 btn-block btn-pill" value="Ок">
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
    
     
    <footer class="footer-section bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h3>Орындаған</h3>
            <p>Қ.Жұбанов атындағы Ақтөбе өңірлік университеті, Математикалық және компьютерлік модельдеу мамандығының студенттері</p>
          </div>

          <div class="col-md-3 ml-auto">
            <h3>Сілтемелер</h3>
            <ul class="list-unstyled footer-links">
              <li><a href="#home-section" class="nav-link">Басты бет</a></li>
              <li><a href="#programs-section" class="nav-link">Курс</a></li>
              <li><a href="#courses-section" class="nav-link">Мазмұны</a></li>
              
            </ul>
          </div>

          
        </div>

        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
            <p>
        
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> 
       
      </p>
            </div>
          </div>
          
        </div>
      </div>
    </footer>

  
    <style>
      
#p{
  font-size: 30px;
}
@media all and (max-width: 1400px){

body{
 box-sizing: border-box; 
}
#p{
  font-size: 20px;
} 
}

    </style>
  </div> <!-- .site-wrap -->

  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'js/jquery.sticky.js' %}"></script>

  
  <script src="{% static 'js/main.js' %}"></script>
    
  </body>
</html>